# Folders
.cache/
.extension/
auto-save-list/
auto-saves/
backups/
eclipse.jdt.ls/
elpa/
lisp/pde/
transient/
themes/
url/

# Loose files
*.html
.dap-breakpoints
.DS_Store
.last-package-update-day
.lsp-session-v1
custom.el
forge-database.sqlite
network-security.data
projectile.cache
projectile-bookmarks.eld
recentf
