# Folders
.cache/
auto-save-list/
auto-saves/
backups/
elpa/
transient/
url/

# Loose files
.dap_breakpoints
.DS_Store
custom.el
forge-database.sqlite
network-security.data
projectile-bookmarks.eld
recentf
Thumbs.db